:root {
  --primary-color: #E1C271;
  --primary-text-color: #FFFFFF;
  --primary-accent-color: #E6AA50;
  --secondary-color: #A96922;
  --primary-dark-color: #114B47;
  --secondary-dark-color: #1C7262;
  --white: #FFFFFF;
  color: var(--primary-dark-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

html, body {
  background-color: var(--primary-color);
  height: 100vh;
  margin: 0;
  padding: 0 24px;
  overflow: hidden;
  font-family: sans-serif;
}
