.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--primary-dark-color);
  font-size: 36px;
  height: 10vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.gifContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

@keyframes gifLoop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gifContainer img {
  animation: gifLoop infinite 1s;
}
